body{
    background: #f2f4f7;
    font-family: 'Poppins',sans-serif;
}

.card{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover{
    transform: translateY(-3px);
}

h2{
    font-weight: 600px;
}